

#a{
    
	text-shadow:  2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff; 
     text-align: center ;
    font-size: 55px ;
    color: darkorange ;
    border-color: blueviolet ;
}

@media only screen and (max-width: 400px) {
    #bg  { background: url(../background/Phone_G2_LEC.jpg) no-repeat center center fixed; 
          height: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: cover; }

    
}
@media only screen and (min-width: 961px) {
   #bg  { background: url(../background/Desktop_G2_LEC.jpg) no-repeat center center fixed; 
         height: 100%;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
background-size: cover; }
 